.skills {
  /* padding-top: 74px; */
  padding-bottom: 106px;
}

.skillsTitleWrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.skillsList {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1024px) {
    justify-content: flex-end;
  }
}

.skillsItem {
  width: 100%;
  border: 1px solid #abb2bf;
  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 3);
  }
  @media screen and (min-width: 1024px) {
    width: 178px;
  }
}

.skillsName {
  padding: 8px;
  border-bottom: 1px solid #abb2bf;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
}

.skillsStack {
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  color: #abb2bf;
}
