.about {
  /* padding-top: 74px; */
  padding-bottom: 106px;
}

.aboutsTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.31;
  color: #ffffff;
}

.aboutTitle::after {
  content: "";
  display: block;
  margin-left: 16px;
  height: 1px;
  width: calc(100vw / 5);
  background: #c778dd;
}

.aboutsTitleWrap {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 12px;
  margin-bottom: 48px;
}
