.about {
  padding-bottom: 106px;
}

.aboutWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
  }
}

.aboutButton {
  margin-top: 27px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  border: 1px solid #c778dd;
  background: #282c33;
}

.imgAbout {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px) / 2);
    margin-left: 15px;
    margin-right: 0;
  }
}
