.about {
  /* padding-top: 74px; */
  padding-bottom: 106px;
}

.aboutWrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
  }
}

.aboutTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.31;
  color: #ffffff;
}

.aboutTitle::after {
  content: "";
  display: block;
  margin-left: 16px;
  height: 1px;
  width: calc(100vw / 5);
  background: #c778dd;
}

.aboutTextWrap {
  @media screen and (min-width: 768px) {
    width: 515px;
  }
}

.aboutButton {
  margin-top: 27px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  border: 1px solid #c778dd;
  background: #282c33;
}
